html{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
}

body{
    background-color:hsl(212, 45%, 89%) ;
    font-family: 'outfit', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

p{
    font-size: 13px;
    font-weight: 500;
    color: hsl(220, 15%, 55%);
    position: relative; top: 10px;   
    justify-content: center; 
}

main{
    text-align: center;
    border: 10px solid white;
    border-radius: 1rem;
    width: 15.6rem;
    height: 25rem;
    background-color: hsl(0, 0%, 100%);
    padding: 0.3rem;
    transition: box-shadow 5s;


}

main img{
    max-width: 100%;
    border-radius: .75rem;


}
h1{
    font-size: 1.0rem;
    text-align: center;
}

footer{
    width: 250px;
    text-align: center;
}